<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

    <title>Meehh.com - <%=product.product_name %>
    </title>

    <!-- Fav Icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />

    <!-- Stylesheets -->
    <link href="/assets/css/font-awesome-all.css" rel="stylesheet" />
    <link href="/assets/css/flaticon.css" rel="stylesheet" />
    <link href="/assets/css/owl.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="/assets/css/nice-select.css" rel="stylesheet" />
    <link href="/assets/css/color.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
  </head>

  <!-- page wrapper -->

  <body>
    <header class="main-header">
      <div class="header-lower">
        <div class="auto-container">
          <div class="outer-box">
            <figure class="logo-box">
              <a href="/"><img src="assets/images/header-logo.png" alt="" /></a>
            </figure>
            <div class="menu-area">
              <!--Mobile Navigation Toggler-->
              <div class="mobile-nav-toggler">
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
                <i class="icon-bar"></i>
              </div>
              <nav class="main-menu navbar-expand-md navbar-light">
                <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                  <ul class="navigation clearfix">
                    <li>
                      <a href="/">Home</a>
                    </li>
                    <li class="dropdown">
                      <a href="/products">Shop<span>Hot</span></a>
                      <ul>
                        <li>
                          <a href="/products?category=bookmarks">Bookmarks</a>
                        </li>
                        <li>
                          <a href="/products?category=pop-grippers">Pop Grippers</a>
                        </li>
                        <li>
                          <a href="/products?category=tote-bags">Tote Bags</a>
                        </li>
                        <li>
                          <a href="/products?category=badges">Badges</a>
                        </li>
                        <li>
                          <a href="/products?category=diaries">Diaries</a>
                        </li>
                        <li>
                          <a href="/products?category=mousepads">Mousepads</a>
                        </li>
                      </ul>
                    </li>
                    <li class="current"><a href="/about">About</a></li>
                    <li><a href="/blogs">Blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                  </ul>
                </div>
              </nav>
            </div>
            <ul class="menu-right-content clearfix">
              <!-- <li>
                                  <div class="search-btn">
                                      <button type="button" class="search-toggler"><i class="flaticon-search"></i></button>
                                  </div>
                              </li> -->
              <li>
                <a href="/wishlist"><i class="flaticon-like"></i></a>
              </li>
              <li class="dropdown">
                <a href=""><i class="flaticon-user"></i></a>
                <ul>
                  <% if(userLoggedIn) { %>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/orders">Your orders</a></li>
                    <li><a href="/logout">Logout</a></li>
                    <% } else { %>
                      <li><a href="/login">Log In</a></li>
                      <li><a href="/register">Sign Up</a></li>
                      <% } %>
                </ul>
              </li>
              <li class="shop-cart">
                <a href="/cart"><i class="flaticon-shopping-cart-1"></i><span>
                    <%=cartLength%>
                  </span></a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!--sticky Header-->
      <div class="sticky-header">
        <div class="auto-container">
          <div class="outer-box clearfix">
            <div class="logo-box pull-left">
              <figure class="logo">
                <a href="/"><img src="assets/images/small-logo.png" alt="" /></a>
              </figure>
            </div>
            <div class="menu-area pull-right">
              <nav class="main-menu clearfix">
                <!--Keep This Empty / Menu will come through Javascript-->
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- page-title -->
    <section class="page-title centred">
      <div class="pattern-layer" style="background-image: url(/assets/images/background/page-title.jpg)"></div>
      <div class="auto-container">
        <div class="content-box">
          <h1>Product Details 02</h1>
          <ul class="bread-crumb clearfix">
            <li><i class="flaticon-home-1"></i><a href="/">Home</a></li>
            <li>Product Details 02</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- page-title end -->

    <!-- product-details -->
    <section class="product-details product-details-2">
      <div class="auto-container">
        <div class="product-details-content">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12 image-column">
              <div class="bxslider">
                <% for(let i=0;i<product.inventory[0].thumbnail_images.length;i++) { %>
                  <div class="slider-content">
                    <div class="slider-pager">
                      <ul class="thumb-box">
                        <% for(let j=0;j<product.inventory[0].thumbnail_images.length;j++) { %>
                          <li>
                            <a class="<%= j==0 && 'active' %>" data-slide-index="<%= j %>" href="#">
                              <figure>
                                <img src="<%= product.inventory[0].thumbnail_images[j] %>" alt="">
                              </figure>
                            </a>
                          </li>
                          <% } %>
                      </ul>
                    </div>
                    <div class="product-image">
                      <figure class="image">
                        <img src="<%= product.inventory[0].large_images[i]%>" alt="">
                        <a href="<%= product.inventory[0].large_images[i]%>" class="lightbox-image"><i
                            class="flaticon-search-2"></i></a>
                      </figure>
                    </div>
                  </div>
                  <% } %>
              </div>
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 content-column">
              <div class="product-info">
                <h3>
                  <%= product.product_name %>
                </h3>
                <div class="customer-review clearfix">
                  <ul class="rating-box clearfix">
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                    <li><i class="flaticon-star"></i></li>
                  </ul>
                  <div class="reviews"><a href="#">(<%= product.reviews.length %>
                        Review)</a></div>
                </div>
                <span class="item-price">&#x20B9;<%= product.price %></span>
                <div class="text">
                  <p class="product-description">
                    <ul></ul>
                  </p>
                </div>
                <% if(product.size.length!=0){ %>
                  <div class="size-box">
                    <h5>Size:</h5>
                    <% for(let i=0; i<product.size.length; i++) { %>
                      <div class="custom-control custom-radio size-select" data-size="<%= product.size[i] %>"
                        onclick="changeSelection(this)">
                        <input type="radio" name="size" id="<%= product.size[i] %>" class="custom-control-input">
                        <label class="custom-control-label" for="<%= product.size[i] %>">
                          <%= product.size[i] %>
                        </label>
                      </div>
                      <%}%>
                  </div>
                  <%}%>

                    <% if(product.color.length !=0){%>
                      <div class="color-box">
                        <h5>Color:</h5>
                        <div class="color-inner">


                          <% for(let i=0; i<product.color.length; i++) {%>
                            <div class="color-block" data-color="<%= product.color[i]%>"
                              onclick="changeSelection(this)">
                              <input type="radio" id="<%= product.color[i]%>" name="radio-group">
                              <label for="<%= product.color[i]%>"
                                style="background-color: #<%= product.color[i] %>"></label>
                            </div>
                            <%}%>
                        </div>
                      </div>
                      <%}%>

                        <div class="othre-options clearfix">
                          <div class="item-quantity">
                            <input class="quantity-spinner" type="text" value="1" name="quantity">
                          </div>
                          <div class="btn-box"><button type="button" class="theme-btn-two"
                              onClick="addToCart('<%= product._id %>')">Add to
                              cart</button></div>

                          <ul class="info clearfix">
                            <li onClick="addWishlist('<%= product._id %>')"><a><i class="flaticon-heart"></i></a></li>

                          </ul>
                        </div>
                        <div class="other-links">
                          <ul class="clearfix">
                            <li>SKU: 05</li>
                            <li>Category: <a href="#">
                                <%= product.category%>
                              </a></li>
                            <li>Sub Category: <a href="#">
                                <%= product.sub_category%>
                              </a></li>
                          </ul>
                        </div>
                        <ul class="share-option clearfix">
                          <li>
                            <h5>Follow Us:</h5>
                          </li>
                          <li><a href="shop-details.html"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="shop-details.html"><i class="fab fa-twitter"></i></a>
                          </li>
                          <li><a href="shop-details.html"><i class="fab fa-vimeo-v"></i></a>
                          </li>
                          <li><a href="shop-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
              </div>
            </div>

          </div>
        </div>
        <div class="product-discription">
          <div class="tabs-box">
            <div class="tab-btn-box">
              <ul class="tab-btns tab-buttons clearfix">
                <li class="tab-btn active-btn" data-tab="#tab-1">Description</li>
                <li class="tab-btn" data-tab="#tab-2">Reviews(<%= product.reviews.length %>)</li>
              </ul>
            </div>
            <div class="tabs-content">
              <div class="tab active-tab" id="tab-1">
                <div class="text">
                  <p class="product-description">
                    <ul></ul>
                  </p>
                </div>
              </div>
              <div class="tab" id="tab-2">
                <div class="review-box">
                  <h5>1 Review for Multi-Way Ultra Crop Top</h5>
                  <div class="review-inner">
                    <figure class="image-box"><img src="assets/images/resource/review-1.png" alt=""></figure>
                    <div class="inner">
                      <ul class="rating clearfix">
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star"></i></li>
                        <li><i class="flaticon-star-1"></i></li>
                      </ul>
                      <h6>Eileen Alene <span>- May 1, 2020</span></h6>
                      <p>Excepteur sint occaecat cupidatat non proident sunt in culpa qui officia deserunt mollit anim est laborum.
                        Sed perspiciatis unde omnis natus error sit voluptatem accusa dolore mque laudant totam rem aperiam eaque ipsa
                        quae ab illo inventore veritatis et quasi arch tecto beatae vitae dicta.</p>
                    </div>
                  </div>
                  <div class="replay-inner">
                    <h5>Be First to Review For “Multi-Way Ultra Crop Top”</h5>
                    <div class="rating-box clearfix">
                      <h6>Your Rating</h6>
                      <ul class="rating clearfix">
                        <li><i class="flaticon-star-1"></i></li>
                        <li><i class="flaticon-star-1"></i></li>
                        <li><i class="flaticon-star-1"></i></li>
                        <li><i class="flaticon-star-1"></i></li>
                        <li><i class="flaticon-star-1"></i></li>
                      </ul>
                    </div>
                    <form action="contact.html" method="post" class="review-form">
                      <div class="row clearfix">
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                          <label>Your Review</label>
                          <textarea name="message"></textarea>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                          <label>Your Name</label>
                          <input type="text" name="name" required="">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                          <label>Your Emai</label>
                          <input type="email" name="email" required="">
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                          <div class="custom-controls-stacked">
                            <label class="custom-control material-checkbox">
                              <input type="checkbox" class="material-control-input">
                              <span class="material-control-indicator"></span>
                              <span class="description">Save my name, email, and website in this browser for the next time I
                                comment</span>
                            </label>
                          </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                          <button type="submit" class="theme-btn-two">Submit Your Review<i class="flaticon-right-1"></i></button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="related-product">
          <div class="sec-title style-two">
            <h2>Related Products</h2>
            <p>There are some product that we featured for choose your best</p>
            <span class="separator" style="background-image: url(/assets/images/icons/separator-2.png);"></span>
          </div>
          <div class="row clearfix">
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="/assets/images/resource/shop/shop-1.jpg" alt="">
                    <ul class="info-list clearfix">
                      <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                      <li><a href="#">Add to cart</a></li>
                    </ul>
                  </figure>
                  <div class="lower-content">
                    <a href="#">Cold Crewneck Sweater</a>
                    <span class="price">&#x20B9;70.30</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="/assets/images/resource/shop/shop-2.jpg" alt="">
                    <span class="category green-bg">New</span>
                    <ul class="info-list clearfix">
                      <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                      <li><a href="#">Add to cart</a></li>
                    </ul>
                  </figure>
                  <div class="lower-content">
                    <a href="#">Multi-Way Ultra Crop Top</a>
                    <span class="price">&#x20B9;50.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="/assets/images/resource/shop/shop-3.jpg" alt="">
                    <ul class="info-list clearfix">
                      <li><a onClick="addWishlist('<%= product._id %>')"><i class="flaticon-heart"></i></a></li>
                      <li><a href="#">Add to cart</a></li>
                    </ul>
                  </figure>
                  <div class="lower-content">
                    <a href="#">Side-Tie Tank</a>
                    <span class="price">&#x20B9;40.00</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
              <div class="shop-block-one">
                <div class="inner-box">
                  <figure class="image-box">
                    <img src="/assets/images/resource/shop/shop-4.jpg" alt="">
                    <ul class="info-list clearfix">
                      <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                      <li><a href="#">Add to cart</a></li>
                    </ul>
                  </figure>
                  <div class="lower-content">
                    <a href="#">Cold Crewneck Sweater</a>
                    <span class="price">&#x20B9;60.30</span>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>
    </section>
    <!-- product-details end -->

    <%- include('footer')%>
      <script>
        let size = null;
        let color = null;

        const button = document.getElementsByClassName("theme-btn-two")[0];

        const sizesLength = '<%- product.size.length %>'
        const colorLength = '<%- product.color.length %>'

        if (sizesLength === 0 && colorLength === 0) {
          button.disabled = false
        }

        const descTags = document.querySelectorAll("p.product-description + ul")
        const descArray = '<%=product.description%>'.split("-")
        descTags.forEach(tag => {
          descArray.forEach(desc => {
            const li = document.createElement("li")
            li.textContent = `- &#x20B9;{desc}`
            tag.appendChild(li)
          })
        })
        
        // descTags.forEach(tag => {
        //   console.log(tag)
        // })

        function changeSelection(el) {
          // console.log(el, el.childNodes)
          const radioButton = el.childNodes[1];
          radioButton.checked = true;
          el.classList.contains("size-select")
            ? (size = el.dataset.size)
            : (color = el.dataset.color);

          if (size != null && color != null) {
            button.disabled = false;
          }
        }

        async function addWishlist(id) {
          const data = { id: id };
          const url = "/wishlist/addWishlist";
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          };
          await fetch(url, options);
        }
        async function addToCart(id) {
          const data = {
            id,
            quantity: document.querySelector("input#quantity").value,
            selected_size: size,
            selected_color: color,
          };
          const url = "/cart/addToCart";
          const options = {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
          };
          await fetch(url, options);
        }
      </script>

      <!-- jequery plugins -->
      <script src="/assets/js/jquery.js"></script>
      <script src="/assets/js/popper.min.js"></script>
      <script src="/assets/js/bootstrap.min.js"></script>
      <script src="/assets/js/owl.js"></script>
      <script src="/assets/js/wow.js"></script>
      <script src="/assets/js/validation.js"></script>
      <script src="/assets/js/jquery.fancybox.js"></script>
      <script src="/assets/js/TweenMax.min.js"></script>
      <script src="/assets/js/appear.js"></script>
      <script src="/assets/js/scrollbar.js"></script>
      <script src="/assets/js/jquery.nice-select.min.js"></script>
      <script src="/assets/js/isotope.js"></script>
      <script src="/assets/js/jquery-ui.js"></script>
      <script src="/assets/js/jquery.bootstrap-touchspin.js"></script>
      <script src="/assets/js/bxslider.js"></script>

      <!-- main-js -->
      <script src="/assets/js/script.js"></script>
  </body>
  <!-- End of .page_wrapper -->

</html>