<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Castro - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/jquery-ui.css" rel="stylesheet">
<link href="/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <%- include('header')%>
        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(/assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Product Details 02</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>Product Details 02</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- product-details -->
        <section class="product-details product-details-2">
            <div class="auto-container">
                <div class="product-details-content">
                    <div class="row align-items-center clearfix">
                        <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                            <div class="bxslider">
                                <div class="slider-content">
                                    <div class="slider-pager">
                                        <ul class="thumb-box">
                                            <li>
                                                <a class="active" data-slide-index="0" href="#"><figure><img src="/assets/images/resource/shop/single-thumb-1.jpg" alt=""></figure></a>
                                            </li>
                                            <li>
                                                <a data-slide-index="1" href="#"><figure><img src="/assets/images/resource/shop/single-thumb-2.jpg" alt=""></figure></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-image">
                                        <figure class="image">
                                            <img src="/assets/images/resource/shop/product-details-2.jpg" alt="">
                                            <a href="/assets/images/resource/shop/product-details-2.jpg" class="lightbox-image"><i class="flaticon-search-2"></i></a>
                                        </figure>
                                    </div>
                                </div>
                                <div class="slider-content">
                                    <div class="slider-pager">
                                        <ul class="thumb-box">
                                            <li>
                                                <a class="active" data-slide-index="0" href="#"><figure><img src="/assets/images/resource/shop/single-thumb-1.jpg" alt=""></figure></a>
                                            </li>
                                            <li>
                                                <a data-slide-index="1" href="#"><figure><img src="/assets/images/resource/shop/single-thumb-2.jpg" alt=""></figure></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-image">
                                        <figure class="image">
                                            <img src="/assets/images/resource/shop/product-details-3.jpg" alt="">
                                            <a href="/assets/images/resource/shop/product-details-3.jpg" class="lightbox-image"><i class="flaticon-search-2"></i></a>
                                        </figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                            <div class="product-info">
                                <h3><%= product.product_name %></h3>
                                <div class="customer-review clearfix">
                                    <ul class="rating-box clearfix">
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                        <li><i class="flaticon-star"></i></li>
                                    </ul>
                                    <div class="reviews"><a href="product-single.html">(<%= product.reviews.length %> Review)</a></div>
                                </div>
                                <span class="item-price">$<%= product.price %></span>
                                <div class="text">
                                    <p><%= product.description %><br><%= product._id%></p>
                                </div>
                                <div class="size-box">
                                    <% if(product.size.length!=0){ %>
                                        <h5>Size:</h5>
                                        <% for(let i=0;i<product.size.length;i++) { %>
                                            <div class="custom-control custom-radio">
                                                <input type="radio" name="size" checked="" id="<%= product.size[i] %>" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1"><%= product.size[i] %></label>
                                            </div>
                                        <%}%>
                                    <%}%>
                                </div>
                                
                                <div class="color-box">
                                    <h5>Color:</h5>
                                    <div class="color-inner">
                                        
                                        <% if(product.color.length != 0){%>
                                            <% for(let i=0;i<product.color.length;i++) {%>
                                                <!-- <div class="color-block" style="background:#
                                                    ;"> -->
                                                <div class="color-block black">
                                                    <input type="radio" id="<%= product.color[i]%>" name="radio-group" checked>
                                                    <label for="test1"></label>
                                                </div>
                                            <%}%>
                                        <%}%>

                                    
                                        <div class="color-block blue">
                                            <input type="radio" id="test2" name="radio-group">
                                            <label for="test2"></label>
                                        </div>
                                        <div class="color-block brown">
                                            <input type="radio" id="test3" name="radio-group">
                                            <label for="test3"></label>
                                        </div>
                                        <div class="color-block gray">
                                            <input type="radio" id="test4" name="radio-group">
                                            <label for="test4"></label>
                                        </div>
                                        <div class="color-block purple">
                                            <input type="radio" id="test5" name="radio-group">
                                            <label for="test5"></label>
                                        </div>
                                    </div>
                                </div>
                                <div class="othre-options clearfix">
                                    <div class="item-quantity">
                                        <input class="quantity-spinner" type="text" value="1" name="quantity">
                                    </div>
                                    <div class="btn-box"><button type="button" class="theme-btn-two">Add to cart</button></div>
                                    <ul class="info clearfix">
                                        <li onClick="addWishlist('<%= product._id %>')"><a><i class="flaticon-heart"></i></a></li>
                                        <li><a href="product-details.html"><i class="flaticon-search"></i></a></li>
                                    </ul>
                                </div>
                                <div class="other-links">
                                    <ul class="clearfix">
                                        <li>SKU: 05</li>
                                        <li>Category: <a href="product-details.html"><%= product.category%></a></li>
                                        <li>Sub Category: <a href="product-details.html"><%= product.sub_category%></a></li>
                                    </ul>
                                </div>
                                <ul class="share-option clearfix">
                                    <li><h5>Follow Us:</h5></li>
                                    <li><a href="shop-details.html"><i class="fab fa-facebook-f"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-twitter"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-vimeo-v"></i></a></li>
                                    <li><a href="shop-details.html"><i class="fab fa-google-plus-g"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-discription">
                    <div class="tabs-box">
                        <div class="tab-btn-box">
                            <ul class="tab-btns tab-buttons clearfix">
                                <li class="tab-btn active-btn" data-tab="#tab-1">Description</li>
                                <li class="tab-btn" data-tab="#tab-2">Reviews(<%= product.reviews.length %>)</li>
                            </ul>
                        </div>
                        <div class="tabs-content">
                            <div class="tab active-tab" id="tab-1">
                                <div class="text">
                                    <p><%= product.description %></p>
                                </div>
                            </div>
                            <div class="tab" id="tab-2">
                                <div class="review-box">
                                    <h5><%= product.reviews.length %> Review for <%= product.product_name %></h5>
                                    <div class="review-inner">
                                        <figure class="image-box"><img src="/assets/images/resource/review-1.png" alt=""></figure>
                                        <div class="inner">
                                            <ul class="rating clearfix">
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                            <h6>Eileen Alene <span>- May 1, 2020</span></h6>
                                            <p>Excepteur sint occaecat cupidatat non proident sunt in culpa  qui officia deserunt mollit anim  est laborum. Sed perspiciatis unde omnis natus error sit voluptatem accusa dolore mque laudant totam rem aperiam eaque ipsa quae ab illo inventore veritatis et quasi arch tecto beatae vitae dicta.</p>
                                        </div>
                                    </div>
                                    <div class="replay-inner">
                                        <h5>Be First to Review For “Multi-Way Ultra Crop Top”</h5>
                                        <div class="rating-box clearfix">
                                            <h6>Your Rating</h6>
                                            <ul class="rating clearfix">
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                                <li><i class="flaticon-star-1"></i></li>
                                            </ul>
                                        </div>
                                        <form action="contact.html" method="post" class="review-form">
                                            <div class="row clearfix">
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                    <label>Your Review</label>
                                                    <textarea name="message"></textarea>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                    <label>Your Name</label>
                                                    <input type="text" name="name" required="">
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                                    <label>Your Emai</label>
                                                    <input type="email" name="email" required="">
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                                    <div class="custom-controls-stacked">
                                                        <label class="custom-control material-checkbox">
                                                            <input type="checkbox" class="material-control-input">
                                                            <span class="material-control-indicator"></span>
                                                            <span class="description">Save my name, email, and website in this browser for the next time I comment</span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                                    <button type="submit" class="theme-btn-two">Submit Your Review<i class="flaticon-right-1"></i></button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="related-product">
                    <div class="sec-title style-two">
                        <h2>Related Products</h2>
                        <p>There are some product that we featured for choose your best</p>
                        <span class="separator" style="background-image: url(/assets/images/icons/separator-2.png);"></span>
                    </div>
                    <div class="row clearfix">
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="/assets/images/resource/shop/shop-1.jpg" alt="">
                                        <ul class="info-list clearfix">
                                            <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                                            <li><a href="product-details.html">Add to cart</a></li>
                                            <li><a href="/assets/images/resource/shop/shop-1.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <a href="product-details.html">Cold Crewneck Sweater</a>
                                        <span class="price">$70.30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="/assets/images/resource/shop/shop-2.jpg" alt="">
                                        <span class="category green-bg">New</span>
                                        <ul class="info-list clearfix">
                                            <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                                            <li><a href="product-details.html">Add to cart</a></li>
                                            <li><a href="/assets/images/resource/shop/shop-2.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <a href="product-details.html">Multi-Way Ultra Crop Top</a>
                                        <span class="price">$50.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="/assets/images/resource/shop/shop-3.jpg" alt="">
                                        <ul class="info-list clearfix">
                                            <li><a onClick="addWishlist('<%= product._id %>')"><i class="flaticon-heart"></i></a></li>
                                            <li><a href="product-details.html">Add to cart</a></li>
                                            <li><a href="/assets/images/resource/shop/shop-3.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <a href="product-details.html">Side-Tie Tank</a>
                                        <span class="price">$40.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                            <div class="shop-block-one">
                                <div class="inner-box">
                                    <figure class="image-box">
                                        <img src="/assets/images/resource/shop/shop-4.jpg" alt="">
                                        <ul class="info-list clearfix">
                                            <li><a href="index.html"><i class="flaticon-heart"></i></a></li>
                                            <li><a href="product-details.html">Add to cart</a></li>
                                            <li><a href="/assets/images/resource/shop/shop-4.jpg" class="lightbox-image" data-fancybox="gallery"><i class="flaticon-search"></i></a></li>
                                        </ul>
                                    </figure>
                                    <div class="lower-content">
                                        <a href="product-details.html">Cold Crewneck Sweater</a>
                                        <span class="price">$60.30</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- product-details end -->


        <%- include('footer')%>

    <!-- jequery plugins -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/jquery.fancybox.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/scrollbar.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/jquery.bootstrap-touchspin.js"></script>
    <script src="/assets/js/bxslider.js"></script>

    <!-- main-js -->
    <script src="/assets/js/script.js"></script>
    <script>
        async function addWishlist(id){
            console.log(id);
            const data={id:id};
            const url="/wishlist/addWishlist";
            const options={
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(data),
            }
            await fetch(url,options);
        }
        async function addToCart(id){
            console.log(id);
            const data={id,quantity:1,selected_size:"large",selected_color:"f6f6f6"};
            const url="/cart/addToCart";
            const options = {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(data),
            }
            await fetch(url,options);
        }
    </script>
</body><!-- End of .page_wrapper -->
</html>
