<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Castro - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="/assets/css/font-awesome-all.css" rel="stylesheet">
<link href="/assets/css/flaticon.css" rel="stylesheet">
<link href="/assets/css/owl.css" rel="stylesheet">
<link href="/assets/css/bootstrap.css" rel="stylesheet">
<link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet">
<link href="/assets/css/animate.css" rel="stylesheet">
<link href="/assets/css/jquery-ui.css" rel="stylesheet">
<link href="/assets/css/nice-select.css" rel="stylesheet">
<link href="/assets/css/color.css" rel="stylesheet">
<link href="/assets/css/style.css" rel="stylesheet">
<link href="/assets/css/responsive.css" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

        <%- include('header')%>
        <!-- page-title -->
        <section class="page-title centred">
            <div class="pattern-layer" style="background-image: url(assets/images/background/page-title.jpg);"></div>
            <div class="auto-container">
                <div class="content-box">
                    <h1>Shop Page 1</h1>
                    <ul class="bread-crumb clearfix">
                        <li><i class="flaticon-home-1"></i><a href="index.html">Home</a></li>
                        <li>Shop Page 1</li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- page-title end -->


        <!-- shop-page-section -->
        <section class="shop-page-section shop-page-1">
            <div class="auto-container">
                <div class="item-shorting clearfix">
                    <div class="left-column pull-left clearfix">
                        <div class="filter-box">
                            <div class="dropdown">
                                <button class="search-box-btn" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="flaticon-list-2"></i>Filter</button>
                                <div class="filter-content dropdown-menu pull-right search-panel" aria-labelledby="dropdownMenu5">
                                    <div class="close-btn"><i class="flaticon-close"></i></div>
                                    <div class="discription-box">
                                        <div class="row clearfix">
                                            <div class="col-lg-3 col-md-6 col-sm-12 column">
                                                <div class="single-column">
                                                    <h4>Category</h4>
                                                    <ul class="list clearfix">
                                                        <li><a href="single-shop-1.html">Women’s Clothing (6)</a></li>
                                                        <li><a href="single-shop-1.html">Man Fashion (9)</a></li>
                                                        <li><a href="single-shop-1.html">Kid’s Clothing (2)</a></li>
                                                        <li><a href="single-shop-1.html">Jewelry & Watches (5)</a></li>
                                                        <li><a href="single-shop-1.html">Bags & Shoes (3)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 column">
                                                <div class="single-column">
                                                    <h4>Age</h4>
                                                    <ul class="list clearfix">
                                                        <li><a href="single-shop-1.html">0 - 12 Months (9)</a></li>
                                                        <li><a href="single-shop-1.html">01 - 04 Years (5)</a></li>
                                                        <li><a href="single-shop-1.html">05 - 08 Years (6)</a></li>
                                                        <li><a href="single-shop-1.html">09 - 12 Years (10)</a></li>
                                                        <li><a href="single-shop-1.html">13 - 14 Years (7)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 column">
                                                <div class="single-column">
                                                    <h4>Size</h4>
                                                    <ul class="list clearfix">
                                                        <li><a href="single-shop-1.html">XXL (6)</a></li>
                                                        <li><a href="single-shop-1.html">XL (9)</a></li>
                                                        <li><a href="single-shop-1.html">S (2)</a></li>
                                                        <li><a href="single-shop-1.html">M (5)</a></li>
                                                        <li><a href="single-shop-1.html">L (3)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-lg-3 col-md-6 col-sm-12 column">
                                                <div class="single-column">
                                                    <h4>Color</h4>
                                                    <ul class="color-list clearfix">
                                                        <li><span class="black"></span><a href="single-shop-1.html">Black (3)</a></li>
                                                        <li><span class="blue"></span><a href="single-shop-1.html">Blue (6)</a></li>
                                                        <li><span class="orange"></span><a href="single-shop-1.html">Orange (9)</a></li>
                                                        <li><span class="green"></span><a href="single-shop-1.html">Green (5)</a></li>
                                                        <li><span class="purple"></span><a href="single-shop-1.html">Purple (3)</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>    
                                    <div class="price-filters">
                                        <h4 class="sidebar-title">Price Range</h4>
                                        <div class="range-slider clearfix">
                                            <div class="price-range-slider"></div>
                                            <div class="clearfix">
                                                <p>Range:</p>
                                                <div class="title"></div>
                                                <div class="input"><input type="text" class="property-amount" name="field-name" readonly></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="text"><p>Showing 1–12 of 50 Results</p></div>
                        <div class="short-box clearfix">
                            <p>Short by</p>
                            <div class="select-box">
                                <select class="wide">
                                   <option data-display="9">9</option>
                                   <option value="1">5</option>
                                   <option value="2">7</option>
                                   <option value="4">15</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="right-column pull-right clearfix">
                        <div class="short-box clearfix">
                            <p>Short by</p>
                            <div class="select-box">
                                <select class="wide">
                                   <option data-display="Popularity">Popularity</option>
                                   <option value="1">New Collection</option>
                                   <option value="2">Top Sell</option>
                                   <option value="4">Top Ratted</option>
                                </select>
                            </div>
                        </div>
                        <div class="menu-box">
                            <a href="shop.html"><i class="flaticon-menu"></i></a>
                            <a href="shop.html"><i class="flaticon-list"></i></a>
                        </div>
                    </div>
                </div>
                <div class="our-shop">
                    <div class="row clearfix">

                        <% for(let i=0;i<productList.length;i++){ %>
                            <div class="col-lg-3 col-md-6 col-sm-12 shop-block">
                                <div class="shop-block-one">
                                    <div class="inner-box">
                                        <figure class="image-box">
                                            <img src="<%= productList[i].inventory[0].images[0]!=null?productList[i].inventory[0].images[0]:'assets/images/resource/shop/shop-1.jpg' %>" alt="">
                                            <ul class="info-list clearfix">
                                                <li onClick="addWishlist('<%= productList[i]._id %>')"><a><i class="flaticon-heart"></i></a></li>
                                                <li onClick="addToCart('<%= productList[i]._id %>')"><a>Add to cart</a></li>
                                                <li><a href="products/<%= productList[i]._id %>" class="lightbox-image"><i class="flaticon-search"></i></a></li>
                                            </ul>
                                        </figure>
                                        <div class="lower-content">
                                            <a href="products/<%= productList[i]._id %>"><%= productList[i].product_name %></a>
                                            <span class="price">$<%= productList[i].price %></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <% } %>
                    </div>
                </div>
                <div class="pagination-wrapper centred">
                    <ul class="pagination clearfix">
                        <li><a href="shop.html">Prev</a></li>
                        <li><a href="shop.html">1</a></li>
                        <li><a href="shop.html" class="active">2</a></li>
                        <li><a href="shop.html">3</a></li>
                        <li><a href="shop.html">4</a></li>
                        <li><a href="shop.html">5</a></li>
                        <li><a href="shop.html">Next</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <!-- shop-page-section end -->

        <%- include('footer')%>

    <!-- jequery plugins -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/popper.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/wow.js"></script>
    <script src="assets/js/validation.js"></script>
    <script src="assets/js/jquery.fancybox.js"></script>
    <script src="assets/js/TweenMax.min.js"></script>
    <script src="assets/js/appear.js"></script>
    <script src="assets/js/scrollbar.js"></script>
    <script src="assets/js/jquery.nice-select.min.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/jquery-ui.js"></script>

    <!-- main-js -->
    <script src="assets/js/script.js"></script>
    <script>
        async function addWishlist(id){
            console.log(id);
            const data={id:id};
            const url="/wishlist/addWishlist";
            const options={
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(data),
            }
            await fetch(url,options);
        }

        async function addToCart(id){
            console.log(id);
            const data={id,quantity:1,selected_size:"large",selected_color:"f6f6f6"};
            const url="/cart/addToCart";
            const options = {
                method:'POST',
                headers: {
                    'Content-Type': 'application/json'
                // 'Content-Type': 'application/x-www-form-urlencoded',
                },
                body: JSON.stringify(data),
            }
            await fetch(url,options);
        }
    </script>
</body><!-- End of .page_wrapper -->
</html>