<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />

    <title>Meehh - My Account</title>

    <!-- Fav Icon -->
    <link rel="icon" href="/assets/images/favicon.ico" type="image/x-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Stylesheets -->
    <link href="/assets/css/font-awesome-all.css" rel="stylesheet" />
    <link href="/assets/css/flaticon.css" rel="stylesheet" />
    <link href="/assets/css/owl.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="/assets/css/animate.css" rel="stylesheet" />
    <link href="/assets/css/jquery-ui.css" rel="stylesheet" />
    <link href="/assets/css/jquery.bootstrap-touchspin.css" rel="stylesheet" />
    <link href="/assets/css/nice-select.css" rel="stylesheet" />
    <link href="/assets/css/color.css" rel="stylesheet" />
    <link href="/assets/css/style.css" rel="stylesheet" />
    <link href="/assets/css/responsive.css" rel="stylesheet" />
  </head>

  <!-- page wrapper -->
  <body>
    <div class="boxed_wrapper">
          <!-- search-popup -->
          <div id="search-popup" class="search-popup">
              <div class="close-search"><i class="flaticon-close"></i></div>
              <div class="popup-inner">
                  <div class="overlay-layer"></div>
                  <div class="search-form">
                      <form method="GET" action="/products/search">
                          <div class="form-group">
                              <fieldset>
                                  <input type="search" class="form-control" name="q" value="" placeholder="Search Here" required >
                                  <input type="submit" value="Search Now!" class="theme-btn style-four">
                              </fieldset>
                          </div>
                      </form>
                      <h3>Popular Search Keywords</h3>
                      <ul class="recent-searches">
                          <li><a href="/products?category=bookmark">Bookmark</a></li>
                          <li><a href="/products?category=pop gripper">Pop Grippers</a></li>
                          <li><a href="/products/search?q=friends">Friends</a></li>
                          <li><a href="/products/search?q">Game of Thrones</a></li>
                          <li><a href="/products/search?q=blackpink">Blackpink</a></li>
                      </ul>
                  </div>
              </div>
          </div>
          <!-- search-popup end -->


          <!-- main header -->
          <header class="main-header">
              
              <div class="header-lower">
                  <div class="auto-container">
                      <div class="outer-box">
                          <figure class="logo-box"><a href="/"><img src="/assets/images/header-logo.png" alt=""></a></figure>
                          <div class="menu-area">
                              <!--Mobile Navigation Toggler-->
                              <div class="mobile-nav-toggler">
                                  <i class="icon-bar"></i>
                                  <i class="icon-bar"></i>
                                  <i class="icon-bar"></i>
                              </div>
                              <nav class="main-menu navbar-expand-md navbar-light">
                                  <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                      <ul class="navigation clearfix">
                                          <li class="current">
                                            <a href="/">Home</a>
                                          </li>
                                          <li class="dropdown"><a href="/products">Shop<span>Hot</span></a>
                                              <ul>
                                              <% for(let i=0;i<categories.length;i++) { %>
                                                  <li><a href="/products?category=<%= categories[i].category_name%>"><%= categories[i].category_name%></a></li>
                                                <% } %>
                                            </ul>
                                          </li>
                                          <li><a href="/about">About</a></li>
                                          <!-- <li><a href="/blogs">Blog</a></li>  -->
                                          <li><a href="/contact">Contact</a></li>               
                                      </ul>
                                  </div>
                              </nav>
                          </div>
                          <ul class="menu-right-content clearfix">
                              <li>
                                  <div class="search-btn">
                                      <button type="button" class="search-toggler"><i class="flaticon-search"></i></button>
                                  </div>
                              </li>
                              <li><a href="/wishlist"><i class="flaticon-like"></i></a></li>
                              <li class="dropdown"><a><i class="flaticon-user"></i></a>
                                <ul>
                                  <% if(userLoggedIn) { %>
                                  <li><a href="/profile">Profile</a></li>
                                  <li><a href="/profile">Your orders</a></li>
                                  <li><a href="/logout">Logout</a></li>
                                  <% } else { %> 
                                  <li><a href="/login">Log In</a></li>
                                  <li><a href="/register">Sign Up</a></li>
                                  <% } %>
                              </ul></li>
                              <li class="shop-cart">
                                  <a href="/cart"><i class="flaticon-shopping-cart-1"></i><span><%=cartLength%></span></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>

              <!--sticky Header-->
              <div class="sticky-header">
                  <div class="auto-container">
                      <div class="outer-box clearfix">
                          <div class="logo-box pull-left">
                              <figure class="logo"><a href="/"><img src="/assets/images/small-logo.png" alt=""></a></figure>
                          </div>
                          <div class="menu-area pull-right">
                              <nav class="main-menu clearfix">
                                  <!--Keep This Empty / Menu will come through Javascript-->
                              </nav>
                          </div>
                      </div>
                  </div>
              </div>
          </header>
          <!-- main-header end -->

          <!-- Mobile Menu  -->
          <div class="mobile-menu">
              <div class="menu-backdrop"></div>
              <div class="close-btn"><i class="fas fa-times"></i></div>
              <nav class="menu-box">
                  <div class="nav-logo"><a href="/"><img src="/assets/images/small-logo.png" alt="" title=""></a></div>
                  <div class="menu-outer"><!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                  <div class="contact-info">
                      <h4>Contact Info</h4>
                      <ul>
                          <!-- <li>Chicago 12, Melborne City, USA</li> -->
                          <li><a href="tel:+91-9773034478">+91 97730 34478</a></li>
                          <li><a href="mailto:meehh.com@gmail.com">meehh.com@gmail.com</a></li>
                      </ul>
                  </div>
                  <div class="social-links">
                      <ul class="clearfix">
                          <li><a href="/"><span class="fab fa-twitter"></span></a></li>
                          <li><a href="/"><span class="fab fa-facebook-square"></span></a></li>
                          <li><a href="/"><span class="fab fa-pinterest-p"></span></a></li>
                          <li><a href="/"><span class="fab fa-instagram"></span></a></li>
                          <li><a href="/"><span class="fab fa-youtube"></span></a></li>
                      </ul>
                  </div>
              </nav>
          </div><!-- End Mobile Menu -->
          
    <!-- page-title -->
    <section class="page-title centred">
      <div
        class="pattern-layer"
        style="background-image: url(/assets/images/background/page-title.jpg)"
      ></div>
      <div class="auto-container">
        <div class="content-box">
          <h1>My Account</h1>
          <ul class="bread-crumb clearfix">
            <li>
              <i class="flaticon-home-1"></i><a href="/">Home</a>
            </li>
            <li>My Account</li>
          </ul>
        </div>
      </div>
    </section>
    <!-- page-title end -->

    <!-- myaccount-section -->
    <section class="myaccount-section">
      <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item">
            <a
              class="nav-link px-md-5 active"
              id="profile-tab"
              data-toggle="tab"
              href="#profile"
              role="tab"
              aria-controls="profile"
              aria-selected="true"
              >My Profile</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-md-5"
              id="addresses-tab"
              data-toggle="tab"
              href="#addresses"
              role="tab"
              aria-controls="addresses"
              aria-selected="false"
              >My Addresses</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link px-md-5"
              id="orders-tab"
              data-toggle="tab"
              href="#orders"
              role="tab"
              aria-controls="orders"
              aria-selected="false"
              >My Orders</a
            >
          </li>
        </ul>

        <div class="tab-content" id="myTabContent">
          <div
            class="tab-pane fade show active"
            id="profile"
            role="tabpanel"
            aria-labelledby="profile-tab"
          >

          <!-- Your Profile -->
            <form class="default-form profile-form">
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>Email</label>
                  <input type="text" name="email" class="form-control" value="<%= user.email %>" disabled/>
                </div>
              </div>
              <div class="change-password"><a href="/profile/change-password">Change Password</a></div>

              <hr>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <label>First Name <span>*</span></label>
                  <input type="text" name="first_name" class="form-control" value="<%= user.first_name%>" required />
                  <span class="text-danger first_name-message"> </span>
                </div>

                <div class="form-group col-md-6">
                  <label>Last Name <span>*</span></label>
                  <input type="text" name="last_name" class="form-control" value="<%= user.last_name %>" required />
                  <span class="text-danger phone-message"> </span>
                </div>

                <div class="form-group col-md-6">
                  <label>Phone No <span>*</span></label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">+91</div>
                    </div>
                    <input type="text" name="phone_no" class="form-control" value="<%= user.phone_no %>" required />
                  </div>
                  <span class="text-danger password-message"> </span>
                </div>
                <div class="col-md-6"></div>
                <div class="form-group col-6 col-sm-5 col-md-4 col-lg-3 mt-3">
                  <button type="submit" class="theme-btn-two">
                    Save<i class="flaticon-right-1"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>

          <!-- Your Addresses -->
          <div
            class="tab-pane fade"
            id="addresses"
            role="tabpanel"
            aria-labelledby="addresses-tab"
          >
            <div class="card-columns">
              <% for(let i=0;i<user.addresses.length;i++){ %>
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title"><%= user.addresses[i].name %></h5>
                    <p class="card-text"><%= user.addresses[i].address %></p>
                  </div>
                </div>
              <% } %>

              <div class="card add-new-address">
                <a href="/profile/add-new-address">
                  <div class="card-body">
                    <div class="flaticon-plus"></div>
                    <div class="card-title">Add new address</div>
                  </div>
                </a>
              </div>
            </div>
          </div>

          <!-- Your Orders -->
          <div
            class="tab-pane fade"
            id="orders"
            role="tabpanel"
            aria-labelledby="orders-tab"
          >
          <% for(let i=orders.length-1;i>=0;i--) { %>
            <div class="card order-card mb-4">
              <div class="card-header d-flex justify-content-between">
                <div>Total Amount: Rs. <%=orders[i].grand_total %></div>
                <div><%= orders[i].order_date.toLocaleDateString() %></div>
              </div>
              <div class="card-body py-0">
                <% for(let j=0;j<orders[i].products.length;j++) { %>
                  <% if(orders[i].products[j].product_id !== null) { %>
                    <div class="order-item py-4 border-bottom">
                      <img src="<%= orders[i].products[j].product_id?.inventory[0].large_images[0] %>" alt="<%= orders[i].products[j].product_id?.product_name %>" class="item-img rounded mr-3">
                      <div class="item-description">
                        <div class="item-name"><%= orders[i].products[j].product_id?.product_name %></div>
                        <div class="order-item-status">
                          <span class="status-icon shipping"></span>
                          <span><%= orders[i].shipping_status %></span>
                        </div>
                        <div class="flaticon-right-chevron"></div>
                      </div>
                    </div>
                    <% } %>
                <% } %>
              </div>
            </div>
          <% } %>
          <!-- Card 1 -->
            <!-- <div class="card order-card mb-4">
              <div class="card-header d-flex justify-content-between">
                <div>Order Id: 899013</div>
                <div>10 Jul, 2022</div>
              </div>
              <div class="card-body py-0">
                <div class="order-item py-4 border-bottom">
                  <img src="/assets/images/resource/shop/single-thumb-1.jpg" alt="Product image" class="item-img rounded mr-3">
                  <div class="item-description">
                    <div class="item-name">Bookmark</div>
                    <div class="item-details">Size: M | Qty: 1</div>
                    <div class="order-item-status"><span class="status-icon shipping"></span><span>Shipping</span></div>
                  </div>
                  <div class="flaticon-right-chevron"></div>
                </div>
              </div>
            </div> -->

            <!-- Card 2 -->
            <!-- <div class="card order-card">
              <div class="card-header d-flex justify-content-between">
                <div>Order Id: 899012</div>
                <div>09 Jul, 2022</div>
              </div>
              <div class="card-body py-0">
                <div class="order-item py-4 border-bottom">
                  <img src="/assets/images/resource/shop/single-thumb-1.jpg" alt="Product image" class="item-img rounded mr-3">
                  <div class="item-description">
                    <div class="item-name">Pen</div>
                    <div class="item-details">Size: S | Qty: 1</div>
                    <div class="order-item-status"><span class="status-icon delivered"></span><span>Item Delivered</span></div>
                  </div>
                  <div class="flaticon-right-chevron"></div>
                </div>
                <div class="order-item py-4 border-bottom">
                  <img src="/assets/images/resource/shop/single-thumb-2.jpg" alt="Product image" class="item-img rounded mr-3">
                  <div class="item-description">
                    <div class="item-name">Pencil</div>
                    <div class="item-details">Size: S | Qty: 1</div>
                    <div class="order-item-status"><span class="status-icon delivered"></span><span>Item Delivered</span></div>
                  </div>
                  <div class="flaticon-right-chevron"></div>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- myaccount-section end -->

    <%- include('footer') %>

    <!-- jequery plugins -->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/popper.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/owl.js"></script>
    <script src="/assets/js/wow.js"></script>
    <script src="/assets/js/validation.js"></script>
    <script src="/assets/js/jquery.fancybox.js"></script>
    <script src="/assets/js/TweenMax.min.js"></script>
    <script src="/assets/js/appear.js"></script>
    <script src="/assets/js/scrollbar.js"></script>
    <script src="/assets/js/jquery.nice-select.min.js"></script>
    <script src="/assets/js/isotope.js"></script>
    <script src="/assets/js/jquery-ui.js"></script>
    <script src="/assets/js/jquery.bootstrap-touchspin.js"></script>

    <!-- main-js -->
    <script src="/assets/js/script.js"></script>
  </body>
</html>
