<html>
    <body>
        <label><%= order.order_date%></label>
        <label><%= order.user_id.first_name%></label>
        <label><%= order.user_id.last_name%></label>
        <label><%= order.user_id.email%></label>
        <label><%= order.user_id.phone_no%></label>
    </body>
</html>